*, ::before, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background: black;
    text-align: center;
}

.horloge {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9dbdc;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    position: relative;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 7px #4f4f4f73;
}

.horloge::before {
    content: "";
    position: absolute;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background: #d9dbdc;
    box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 7px #4f4f4f73;
}
.horloge::after {
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: #d9dbdc;
    box-shadow: inset -1px -1px 7px #ffffff73,
    inset 1px 1px 7px #4f4f4f73;
}

.centre {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #1e1e1e;
    border-radius: 50%;
    z-index: 2;
}

.centre2 {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #2e2e2e;
    border-radius: 50%;
    z-index: 20;
}

.indicateur {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicateur div {
    position: absolute;
    width: 2px;
    height: 5px;
    background: #adadad;
}

.indicateur div:nth-child(1){
    transform: rotate(30deg) translateY(-100px);
}
.indicateur div:nth-child(2){
    transform: rotate(60deg) translateY(-100px);
}
.indicateur div:nth-child(3){
    transform: rotate(90deg) translateY(-100px);
    background: #000;
}
.indicateur div:nth-child(4){
    transform: rotate(120deg) translateY(-100px);
}
.indicateur div:nth-child(5){
    transform: rotate(150deg) translateY(-100px);
}
.indicateur div:nth-child(6){
    transform: rotate(180deg) translateY(-100px);
    background: #000;
}
.indicateur div:nth-child(7){
    transform: rotate(210deg) translateY(-100px);
}
.indicateur div:nth-child(8){
    transform: rotate(240deg) translateY(-100px);
}
.indicateur div:nth-child(9){
    transform: rotate(270deg) translateY(-100px);
    background: #000;
}
.indicateur div:nth-child(10){
    transform: rotate(300deg) translateY(-100px);
}
.indicateur div:nth-child(11){
    transform: rotate(330deg) translateY(-100px);
}
.indicateur div:nth-child(12){
    transform: rotate(360deg) translateY(-100px);
    background: #000;
}

.aiguille-seconde, .aiguille-minute, .aiguille-heure {
    position: absolute;
}

.aiguille-seconde, .seconde {
    height: 180px;
    width: 180px;
    z-index: 6;
}

.aiguille-minute, .minute {
    height: 140px;
    width: 140px;
    z-index: 5;
}

.aiguille-heure, .heure {
    height: 110px;
    width: 110px;
    z-index: 4;
}

.seconde, .minute, .heure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconde::before {
    content: "";
    position: absolute;
    top: 10px;
    height: 80px;
    width: 3px;
    background: #800606;
}
.seconde::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 1px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 10px solid #800606;
}
.minute::after {
    content: "";
    position: absolute;
    top: -10px;
    height: 80px;
    width: 3px;
    background: #2e2e2e;
}
.minute::before {
    content: "";
    position: absolute;
    top: -15px;
    width: 1px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 10px solid #2e2e2e;
}
.heure::after {
    content: "";
    position: absolute;
    top: 0px;
    height: 50px;
    width: 3px;
    background: #2e2e2e;
}
.heure::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 1px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 10px solid #2e2e2e;
}

.btn_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

button {
    background: #d9dbdc;
    border: none;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 7px #4f4f4f73;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

button:active {
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 3px 3px 7px #4f4f4f73;
    transform: scale(0.95);
}

button:hover {
    background: #c1c3c4;
}

button:focus {
    outline: none;
}
